<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Cut your link!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Styles/Styles.css" />
</head>

<body style="margin: 0;">
    <div class="page">
        <div class="header">
            <div style="float:left">Обрезатель URL'ов 9000</div>
            <div style="float:right;"><button style="color:initial;font-size:initial; vertical-align:middle; margin: 0 auto">hui</button></div>
        </div>
        <div class="composition">
            <div class="ball">

            </div>
            <div class="dick_body">
                <div class="centered_input">
                    <input type="text" [readonly]="hasShortened" [(ngModel)]="longUrl" (input)="OnUrlUpdated()" class="URL_field" placeholder="URL"/>
                </div>
            </div>
            <div class="dick_head">
                <div class="dick_head1">
                    <div class="centered_input">
                        <a href={{shortUrl}} target="_blank">{{shortUrl}}</a>
                    </div>
                </div>
                <div class="dick_head2">
                    <div class="centered_input">
                        <button [style.visibility]="isCopyBtnVisible ? 'visible' : 'hidden'" (click)="copyToClipBoard()">Copy</button>
                    </div>
                </div>
            </div>

            <div class="saber" (click)="Shorten()" [style.visibility]="isLongUrlValid ? 'visible' : 'hidden'">
                <div class="handle" [style.cursor]="isCopyBtnVisible ? 'auto' : 'pointer'"></div>
                <div class="saber_razor" [style.cursor]="isCopyBtnVisible ? 'auto' : 'pointer'"></div>
            </div>

        </div>
        <div class="footer">
            By bloodmag 2019 (c)
        </div>
    </div>


</body>



</html>